<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
 		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link rel="icon" type="image/png" href="../img/icono.png"/>
        
	<title>Prueba</title>
</head>
<body>



	<footer th:fragment="footer" class="page-footer font-small">

	  <div class="footer-copyright text-center py-3 text-info">© 2020 Copyright:
	    davinchis007@hotmail.com
	  </div>
	  
	</footer>

</body>
</html>